<header class="header">
    <nav class="titulo">
        <a routerLink="">
            <figure>
                <img src="../../../assets/capturas/logo.png" class="logo">
                <img src="../../../assets/capturas/marca.png" class="marca">
            </figure>
        </a>
    </nav>
    <nav class="menu">
        <a *ngIf="!usuario.logueado;" class="enlace" routerLink="/home" >Home</a>
        <a *ngIf="!usuario.logueado;" class="enlace" routerLink="/registro">Registro</a>
        <a *ngIf="!usuario.logueado;" class="enlace" routerLink="/login">Login</a>
        <a *ngIf="usuario.logueado;" class="enlace" routerLink="/perfil">Perfil</a>
        <a *ngIf="usuario.logueado;" class="enlace" routerLink="/libros">Libros</a>
    </nav>
</header>