<footer class="menu">
    <nav>
        <a class="menu__enlaces" routerLink="">
            <i class="fa-brands fa-facebook-square"></i>
        </a>
        <a class="menu__enlaces" routerLink="">
            <i class="fa-brands fa-twitter-square"></i>
        </a>
        <a class="menu__enlaces" routerLink="">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="menu__enlaces" routerLink="">
            <i class="fa-brands fa-instagram-square"></i>
        </a>
    </nav>
    <p class="texto">Copyright © 2022 Digital Libray. Todos los derechos reservados</p>
</footer>