<section class="home">

  <section class="presentacion">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/capturas/home1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/capturas/home2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/capturas/home3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </section>
  
  <section class="texto">
    <h1>Para viajar lejos no hay mejor nave que un libro</h1>
    <h1>Unete a Digital Library... viaja con nosotros</h1>
  </section>

</section>